[submodule "plugins/yoink-dl"]
	path = plugins/yoink-dl
	url = https://github.com/AdamsGH/yoink-dl.git
[submodule "plugins/yoink-stats"]
	path = plugins/yoink-stats
	url = https://github.com/AdamsGH/yoink-stats.git
[submodule "plugins/yoink-music"]
	path = plugins/yoink-music
	url = https://github.com/AdamsGH/yoink-music.git
[submodule "plugins/yoink-insight"]
	path = plugins/yoink-insight
	url = https://github.com/AdamsGH/yoink-insight.git
